<div id="hsh-home" class="row">
  <%= image_tag 'https://w-dog.net/wallpapers/8/19/511932503574273/bayern-munich-germany-mountain-house-morning-fog-tree-grass-nature.jpg', class: 'fit' %>
</div>
<div id="hsh-home-content" class="row">

</div>
