<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Home Switch Home</title>
  </head>

  <body>

    <header><!-- Encabezado con logo --></header>
    <%= link_to 'Ver Preguntas Frecuentes', faq_path, class: 'btn btn-info'%>
		
  </body>
</html>


