<!DOCTYPE html>
<html lang="es">
  <div class="container-fluid">

    <head>
      <title>Home Switch Home</title>
    </head>

    <body>

      <header><!-- Encabezado con logo --></header>
      <%= link_to "Ver Residencias", residences_path, class: 'btn btn-primary'%>
      <%= link_to "Ver Subastas", root_path, class: 'btn btn-primary'%>
      <footer><!-- Pie de pagina con preguntas frecuentes --></footer>    

    </body>

  </div>

</html>
