<div class="hsh-window">
	<div class="container" style="border: 1px solid grey; border-radius: 5px; padding: 60px">

		<div class="row alert alert-primary noselect" role="alert"  style="margin-bottom: 200px">
	 		Tu consulta ha sido enviada exitosamente. Nos pondremos en contacto con usted a la brevedad.
		</div>

		<div class="row"">
		<%= link_to "Volver a pagina principal", root_path, class: 'btn btn-primary'%>
		</div>
		
	</div>
</div>
