<html class="hsh-window">
	<div class="alert alert-primary" role="alert">
 		Tu consulta ha sido enviada exitosamente. Nos pondremos en contacto con usted a la brevedad.
	</div>
	<%= link_to "Volver a pagina principal", root_path, class: 'btn btn-primary'%>
</html>