<h1> Subasta nยบ<%= @auction.id %> </h1> <!--DESCRIPCION DE UNA SUBASTA-->
<p> Precio actual: $<%= @auction.maxbid %>  </p>

<%= link_to "Haga click para ver los detalles de la residencia", { :controller => 'residences', :action =>'show', :id =>@auction.residence_id} %>
</br>
</br>
<%= render 'makeBid' %>

</p>
