<h1> Subasta nยบ<%= @auction.id %> </h1> <!--DESCRIPCION DE UNA SUBASTA-->
<p> Precio actual: $<%= @auction.maxbid %>  </p>

<%= link_to "Detalle de #{@auction.residence.name}", { :controller => 'residences', :action =>'show', :id =>@auction.residence_id} %>
</br>
</br>
<%= render 'makeBid' %>

</p>
