<div class="hsh-window">
	<div class="container">

		<% if current_user.isAdmin? %>
			<h1> Borrar Usuario - Admin </h1>
		  <p>Borrar este usuario - Ok?</p>
		<% end %>

		<% if current_user.present? && current_user.isPremium == 'no' && !current_user.isAdmin?  %>
			<h1> Borrar Mi Cuenta </h1>
		  <p>Estas seguro de querer borrar tu cuenta?</p>
		<% end %>

		<% if current_user.present? && current_user.isPremium == 'yes' && !current_user.isAdmin? %>
			<h1> Borrar Mi Cuenta Premium </h1>
			<p class="error">Usted debe pasar por alguna de las sucursales para firmar que desea borrar su usuario en el sistema.</p>
			<p>Estas seguro de querer borrar tu cuenta premium?</p>
		<% end %>

		<!-- BOTON BORRAR -->
		<% if @clientReservations.any? %>
		<p><%= link_to "Usted tiene reservas", client_destroy_path(@client),  class: 'btn btn-danger btn-sm disabled', data: { confirm: 'Realmente desea borrar su cuenta?'}%></p>
		<% else if @clientAuctions.any?%>
		<p><%= link_to "Usted esta ganando una subasta", client_destroy_path(@client),  class: 'btn btn-danger btn-sm disabled', data: { confirm: 'Realmente desea borrar su cuenta?'}%></p>
		<% else %>
		<p><%= link_to "Borrar", client_destroy_path(@client),  class: 'btn btn-danger btn-sm', data: { confirm: 'Realmente desea borrar su cuenta?'}%></p>
		<% end %>
		<% end %>

		<%= link_to "Volver", user_path, class: 'btn btn-secondary' %>

	</div>
</div>
