<!DOCTYPE html>
<html class="centered">

	<head>
		<h1> Preguntas Frecuentes </h1>
	</head>

	<body>

		<h5>Como Registrarse?</h5>
		<p>Apretar el boton registrase</p>
		<h5>Como Iniciar sesion?</h5>
		<p>Apretar el boton iniciar sesion</p>
		<h5>Que es Home Switch Home?</h5>
		<p>Es una buena compania</p>

		<p> <%= link_to "Volver", root_path, class: 'btn btn-secondary' %> </p>
	</body>

</html>
