<!DOCTYPE html> 
<html>
	
	<head>
		<h1> Preguntas Frecuentes </h1>
	</head>
	
	<body>
		
		<p>Como Registrarse?</p>
		<p>Como Iniciar sesion?</p>
		<p>Que es Home Switch Home?</p>
		
	</body>
	
</html>