<div class="hsh-window">
  <div class="container">
  	<div class="row br10">
  		<h5>Cuota para los usuarios comunes: $<%= @setting.user_fee %></h5>
  	</div>
  	<div class="row br10">
  		<h5>Cuota para los usuarios premium: $<%= @setting.premium_user_fee %></h5>
  	</div>
  	<% if user_signed_in? && current_user.isAdmin? %>
		<td><%= link_to "Editar", edit_setting_path(@setting), class: 'btn btn-dark btn-sm'%></td>
	<% end %>
  </div>
</div>