/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

// SITIO GENERAL

// body {
// 	background-color:#FFFF; /*Color de fondo blanco*/
//  	padding-bottom: 220px;
//   	margin-bottom: 114px;
// }
html, body {
    //overflow: auto;
    min-height: 100%;
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    //background-color: green;
    //z-index: -2;
}
body {
  //background: url('https://w-dog.net/wallpapers/8/19/511932503574273/bayern-munich-germany-mountain-house-morning-fog-tree-grass-nature.jpg') no-repeat center center fixed;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: 0px;
}

// HEADER

#hsh-header {
  background-color: #111D;
}
#notice {
  margin-top: 100px;
  //margin-right: 500px;
}
#notice-content {
  width: auto;
}
#deviseERR {
  margin-top: 100px;
  margin-bottom: 0px;
}
#deviseERR-content {
  width: auto;
}

// FOOTER

footer {
  position: relative;
  width: 100% !important;
  clear: both;
  bottom:0;
  height: 60px;
}
footer .navbar {
	border-top: 1px solid #999;
  padding-bottom: 100px;
	background-color: #EEE;
}
.footerlist ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFF0;
	float: left;
}
.footerlist li{
	list-style-type: none;
	padding-right: 50px;
	float: left;
}
.footerlist a{
	display: block;
	color: black;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
.footerlist a:hover{
	color: black;
	text-decoration: none;
}
#logo {
	right: 500px;
}

// FORMS

.form {
  margin: 30px;
  padding: 10px;
  //border: solid 1px grey;
}
.form .col{
padding-right: 100px;
}
.form .row{
padding-bottom: 50px;
}
.form-footer {
  margin: -100px;
}
.error {
  margin-bottom: 30px;
	color: red;
	background-color: yellow;
	font-weight: 600;
}

// CONTENIDOS

.bold {
	font-weight: bold;
}
.fit{
  width: 100%;
  height: 100%;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}
.btn-gap .btn{
  margin-right: 5px;
}
.br30 {
  margin-bottom: 30px;
}
.br10 {
  margin-bottom: 10px;
}
.sp30 {
  margin: 0px 30px;
}
.sp10 {
  margin: 0px 30px;
}

// SITIO CONTENIDOS

.hsh-content {
	//margin: 85px 0px 0px 0px; //debajo del fixed header
  margin: -15px 0px 0px 0px; //debajo del fixed header
}
.hsh-window {
  padding: 100px 50px 200px 50px;
  background-color: white;
}
#hsh-home {
  //margin-top: 85px;
}
#hsh-home-content {
  margin-top: 100px;
  padding-bottom: 200px;
}

.btn-hsh {
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		line-height: 1.42857143;
		background-color: transparent;
		box-shadow: none;
		width: 190px;
		border-bottom: 1px solid transparent;
		font-size: 16px;
		font-weight: bold;
		color: white;
		text-shadow: 1px 1px black;
		text-decoration: none;
}
.btn-hsh:hover {
		color: white;
		border-radius: 0;
		border-bottom: 1px solid white;
		text-decoration: none;
}

#hsh-body{
	margin: 200px 0px 0px 150px;
}
#hsh-nav{
	list-style-type: none;
	background-color: #FFF0;
	position: absolute;
	width: 250px;
	top: 30%;
	right: 70%;
}
#hsh-nav ul li {
	display: block;
	color: white;
	text-align: left;
	padding: 16px;
}
#home-bottom {
	right: 0px;
	width: 100%;
	height: 800px;
	border: 1px none #999;
	padding-top: 800px;
}

/// RESDIDENCIAS

.residence-content {
	border-top: none 1px;
	margin-top: 15px;
  padding-top: 15px;
}
.residence-images {
  width: 100% !important;
  // background-color: rgb(255, 255, 255) !important;
  // -moz-box-align: center !important;
  // align-items: center !important;
  // display: flex !important;
  // overflow: hidden !important;
  // position: relative !important;
  //cursor: pointer !important;
}
.residence-pic {
    transform: scale(1) !important;
    opacity: 1 !important;
    transition: -ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s !important;
}
.residence-pic:hover {
    transition: -ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s !important;
    transform: scale(1.05) !important;
}
.residence-table {
	border-style: none;
	margin: 20px;
	margin-left: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.residence-table td {
	width: 500px;
	height: 50px;
	border-top: solid 1px;
  padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 50px;
}
.residence-field {
  font-weight: 100;
	color: black;
}

/// USERS

.profile {
	text-indent: 20px;
	border: 2px none grey;
	border-radius: 20px;
	margin: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.profile-table {
	border-style: none;
	margin: 20px;
	margin-left: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.profile-table td {
	width: 500px;
	height: 50px;
	border-top: solid 1px;
	padding-top: 15px;
	padding-bottom: 50px;
}
.profile-field {
	font-weight: 100;
	color: black;
}

#usr-nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFF0;

	position: absolute;
	top: 8px;
	right: 16px;
}
#usr-nav li {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
