/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";


body {
	background-color:#FFFF; /*Color de fondo blanco*/
 	padding-bottom: 220px;
  	margin-bottom: 114px;
}

footer .navbar {
  background-image: linear-gradient(to bottom right, #222F, #000F);
}

header .navbar{
	position: absolute;
	top: 8px;
	left: 16px;
}

.centered {
	padding-top: 120px;
}

.header-logo {
	color: #FFF;
  text-shadow: 0 0 3px #000;
}

.backimage {
     width: 50%;
     height: 200px;
     margin-left: 25%;
     border-radius: 50%;
     background-image: asset_url('wallpaper1.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
		color: white;
}

.btn-primary-outline:hover {
		color: #AAA;
}

#usr-nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFF0;

	position: absolute;
	top: 8px;
	right: 16px;
}

#usr-nav li {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}


#hsh-nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFF0;

	position: absolute;
	top: 100px;
	left: 16px;
}

#hsh-nav li {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
