// Place all the styles related to the residences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.residence-content {
	border-top: none 1px;
	margin-top: 15px;
  padding-top: 15px;
}
.residence-images {
  position: relative !important;
  width: 100% !important;
  background-color: rgb(255, 255, 255) !important;
  -moz-box-align: center !important;
  align-items: center !important;
  display: flex !important;
  overflow: hidden !important;
  //cursor: pointer !important;
}
.residence-pic {
    transform: scale(1) !important;
    opacity: 1 !important;
    transition: -ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s !important;
}
.residence-pic:hover {
    transition: -ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s !important;
    transform: scale(1.05) !important;
}
.residence-table {
	border-style: none;
	margin: 20px;
	margin-left: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.residence-table td {
	width: 500px;
	height: 50px;
	border-top: solid 1px;
  padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 50px;
}
.residence-field {
  font-weight: 100;
	color: black;
}
