// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
	text-indent: 20px;
	border: 2px none grey;
	border-radius: 20px;
	margin: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.profile-table {
	border-style: none;
	margin: 20px;
	margin-left: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.profile-table td {
	width: 500px;
	height: 50px;
	border-top: solid 1px;
	padding-top: 15px;
	padding-bottom: 50px;
}
.profile-field {
	font-weight: 100;
	color: black;
}


#usr-nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFF0;

	position: absolute;
	top: 8px;
	right: 16px;
}
#usr-nav li {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
