<div class="container">
	<h1> Borrar Residencia </h1>

  <%= form_for(:residence, :url => {:action => 'destroy', :id => @residence.id}) do |f| %>
    <p>You're deleting this action item forever - Ok?</p>
    <%= submit_tag("Do it - Delete it") %>
  <% end %>

</div>
