<footer class="page-footer">  <!-- Footer -->
	<div class="navbar fixed-bottom"> 
		<div class="container">
			<%= link_to 'Ver Preguntas Frecuentes', faq_path, class: 'btn btn-info'%>	
			<%= image_tag "logo.png", title: "Logo", class: "logo"  %>
		</div>
	</div>
</footer>