<header>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #3DD1E8"> <!-- Barra de celeste-->
      <div class="container">
        <div class="navbar-header">

          <%= link_to root_path, class: 'navbar-brand' do %>    <!-- Link a pagina principal (tocando logo o titulo)-->
            <h2 style="color: #FFF">  <!-- titulo color blanco y logo-->
              <%= image_tag "HSH-Logo.svg", alt:"Logo" ,size:"72"%>
              <%= image_tag "HSH-Text.svg", alt:"Logo" ,width:"300", height:"72"%> 
            </h2>
          <% end %>
          

        </div>

        <div class="collapse navbar-collapse">
            
        </div><!--/.nav-collapse -->
      </div>

    </div>
  </header>